.logout-btn {
    margin-left: 5px;
}

.img-logo {
    width: 40px;
    height: 40px;
}

.nav-item {
    font-size: 18px;
}

.login-btn {
    margin-left: 5px;
}

.register-btn {
    margin-left: 5px;
}